<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row" id="login-container">
    <div class="span8 offset2">
        <p>
          <b>Title:</b>
          <%= @portfolio.title.html_safe %>
		</p>

		<p>
		  <b>Article:</b>
		  <%= @portfolio.article.html_safe %>
		</p>
    </div>
  </div>
</div><p>



<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
